/* Стиль для списка заметок */
.notes-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Стиль для карточки заметки */
.note-container {
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для карточек */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.note-container:hover {
    transform: translateY(-5px); /* Легкий подъем при наведении */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Усиление тени при наведении */
}

/* Стиль для текста заметки */
.note-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

/* Стиль для даты */
.note-date {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 10px;
}

/* Кнопки в карточке заметки */
.note-container button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}

/* Кнопка редактирования */
.refactor-btn {
    background-color: #4d77ff;
    color: white;
}

.refactor-btn:hover {
    background-color: #0033ff;
}

/* Кнопка выполнения */
.completed-btn {
    background-color: #3b8028;
    color: white;
}

.completed-btn:hover {
    background-color: #56ef33;
}
.completed-label {
    color: #3b8028;
    font-weight: bold;
    margin: 8px 0;
}
/* Кнопка удаления */
.delete-btn {
    background-color: #ff4d4d;
    color: white;
}

.delete-btn:hover {
    background-color: #ff1515;
}

/* Стили для кнопок в карточках при наведении */
.note-container button:hover {
    transform: translateY(-2px); /* Легкий подъем */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.note-container button:active {
    transform: translateY(0); /* Возвращаем в исходное положение */
}